/* tienne-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Tienne';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/tienne-v21-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* tienne-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Tienne';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/tienne-v21-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

header {
    background-color: #c88fe9;
    height: 130px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 130px;
    position: absolute;
    left: 20px;
    top: 0;
}

header h1 {
    margin: 0;
    font-family: "Tienne";
    font-weight: 400;
    font-size: 32px;
    color: rgb(99, 109, 96);
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #c88fe9;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: auto;
}

footer img {
    width: 80px;
}

footer p {
    margin-top: 10px;
    font-family: "Tienne";
    font-weight: 400;
    font-size: 12px;
    color: rgb(99, 109, 96);
}